.elementor-126 .elementor-element.elementor-element-0532632 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-126 .elementor-element.elementor-element-0532632{margin-top:120px;margin-bottom:200px;}.elementor-bc-flex-widget .elementor-126 .elementor-element.elementor-element-dc82c8c.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-126 .elementor-element.elementor-element-dc82c8c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-126 .elementor-element.elementor-element-dc82c8c > .elementor-element-populated{margin:0px 30px 0px 0px;--e-column-margin-right:30px;--e-column-margin-left:0px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-primary{font-size:18px;font-weight:bold;text-transform:capitalize;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-secondary .aux-head-highlight{font-size:70px;font-weight:600;text-transform:capitalize;line-height:1.2em;letter-spacing:-3.5px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;max-width:580px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-description{color:var( --e-global-color-327a04ae );font-size:16px;font-weight:400;text-transform:capitalize;margin:40px 0px 0px 0px;max-width:490px;}.elementor-126 .elementor-element.elementor-element-cdfce0c > .elementor-widget-container{margin:0px 0px 55px 0px;}.elementor-126 .elementor-element.elementor-element-cdfce0c{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-126 .elementor-element.elementor-element-918120d .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-126 .elementor-element.elementor-element-918120d .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-126 .elementor-element.elementor-element-918120d .col-title a, .elementor-126 .elementor-element.elementor-element-918120d .col-title{color:#111F3D !important;}.elementor-126 .elementor-element.elementor-element-918120d .col-title, .elementor-126 .elementor-element.elementor-element-918120d .col-title a{font-size:20px;font-weight:700;letter-spacing:-0.4px;}.elementor-126 .elementor-element.elementor-element-918120d .widget-content{color:#111F3D99 !important;font-size:16px;font-weight:400;}.elementor-126 .elementor-element.elementor-element-918120d .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 25px;}.elementor-126 .elementor-element.elementor-element-918120d .aux-widget-advanced-text{text-align:left !important;}.elementor-126 .elementor-element.elementor-element-918120d{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-126 .elementor-element.elementor-element-bd52eae .aux-modern-heading-primary{font-size:40px;font-weight:600;text-transform:capitalize;letter-spacing:-2px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-126 .elementor-element.elementor-element-bd52eae{animation-delay:400ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-126 .elementor-element.elementor-element-cc63100 input:not([type="submit"]){height:60px;border-radius:50px 50px 50px 50px;padding:20px 40px 17px 40px;margin:0px 0px 20px 0px;background-color:transparent;background-image:linear-gradient(100deg, #EEE5D620 0%, #CED8D630 100%);border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 input:not([type="submit"])::placeholder{font-size:16px;font-weight:400;font-style:normal;color:var( --e-global-color-327a04ae );}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="text"]{transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="email"]{transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 select{transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 textarea{height:236px;border-radius:30px 30px 30px 30px;padding:24px 40px 17px 40px;margin:0px 0px 30px 0px;background-color:transparent;background-image:linear-gradient(109deg, #EEE5D620 0%, #CED8D630 100%);border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 textarea::placeholder{font-size:16px;font-weight:400;font-style:normal;color:var( --e-global-color-327a04ae );}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]{font-size:16px;font-weight:700;text-transform:capitalize;line-height:1em;color:var( --e-global-color-aef23e3 );border-radius:50px 50px 50px 50px;padding:22px 45px 17px 45px;margin:0px 0px 0px 0px;background-color:transparent;background-image:linear-gradient(108deg, var( --e-global-color-primary ) 0%, var( --e-global-color-2abbde8d ) 100%);box-shadow:0px 15px 30px 0px rgba(183.00000000000009, 136.00000000000003, 248, 0.3);transition:all ease-out 0.3s;}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]:hover{background-color:transparent;background-image:linear-gradient(108deg, var( --e-global-color-secondary ) 0%, var( --e-global-color-14d457c7 ) 100%);box-shadow:0px 15px 30px 0px rgba(244, 180.99999999999997, 56.99999999999999, 0.3);}.elementor-126 .elementor-element.elementor-element-cc63100{animation-duration:2000ms;animation-delay:750ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-126 .elementor-element.elementor-element-0532632{margin-top:60px;margin-bottom:200px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-primary{font-size:17px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-secondary .aux-head-highlight{font-size:45px;max-width:400px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-description{font-size:15px;max-width:350px;}.elementor-126 .elementor-element.elementor-element-bd52eae .aux-modern-heading-primary{font-size:35px;}.elementor-126 .elementor-element.elementor-element-cc63100 input:not([type="submit"]){padding:24px 20px 17px 20px;}.elementor-126 .elementor-element.elementor-element-cc63100 textarea{padding:24px 20px 17px 20px;}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]{padding:19px 38px 16px 38px;}}@media(max-width:767px){.elementor-126 .elementor-element.elementor-element-0532632{margin-top:30px;margin-bottom:100px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-primary{font-size:16px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-secondary .aux-head-highlight{font-size:45px;}.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-description{font-size:14px;}.elementor-126 .elementor-element.elementor-element-918120d .col-title, .elementor-126 .elementor-element.elementor-element-918120d .col-title a{font-size:17px;}.elementor-126 .elementor-element.elementor-element-918120d .widget-content{font-size:14px;}.elementor-126 .elementor-element.elementor-element-918120d .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 15px;}.elementor-126 .elementor-element.elementor-element-42d43e3 > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-126 .elementor-element.elementor-element-bd52eae .aux-modern-heading-primary{font-size:28px;}.elementor-126 .elementor-element.elementor-element-cc63100 input:not([type="submit"]){padding:15px 15px 15px 15px;}.elementor-126 .elementor-element.elementor-element-cc63100 input:not([type="submit"])::placeholder{font-size:14px;}.elementor-126 .elementor-element.elementor-element-cc63100 textarea{padding:15px 15px 15px 15px;}.elementor-126 .elementor-element.elementor-element-cc63100 textarea::placeholder{font-size:14px;}.elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]{font-size:14px;}}@media(min-width:768px){.elementor-126 .elementor-element.elementor-element-dc82c8c{width:46.87%;}.elementor-126 .elementor-element.elementor-element-42d43e3{width:53%;}}@media(max-width:1024px) and (min-width:768px){.elementor-126 .elementor-element.elementor-element-dc82c8c{width:45%;}.elementor-126 .elementor-element.elementor-element-42d43e3{width:55%;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-cdfce0c */.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-head-highlight{
    display: inline-block;
}
.elementor-126 .elementor-element.elementor-element-cdfce0c .aux-modern-heading-primary{
    display: inline-block;
    background: transparent linear-gradient(97deg, var(--e-global-color-679982b4) 0%, var(--e-global-color-679982b4) 9%, var(--e-global-color-47b4746f) 27%, var(--e-global-color-6474545b) 47%, var(--e-global-color-48ed99e5) 63%, var(--e-global-color-16a23eba) 83%, var(--e-global-color-5540afdb) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width:400px){
    .elementor-126 .elementor-element.elementor-element-cdfce0c .aux-head-highlight {
        font-size: 32px !important;
    }
}
@media screen and (max-width:800px) and (min-width:768px){
.aux-modern-heading-description {
    max-width: 750px!important;}}
    
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-126 .elementor-element.elementor-element-cdfce0c{
        width:50%;
    }
    }/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-918120d */.elementor-126 .elementor-element.elementor-element-918120d .widget-content{
    max-width: 187px;
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-126 .elementor-element.elementor-element-918120d{
        width:50%;
        margin-top:190px;
    }
    }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-dc82c8c */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-126 .elementor-element.elementor-element-dc82c8c{
        width:100%;
    }
    .elementor-126 .elementor-element.elementor-element-dc82c8c .elementor-element-populated {
        margin: 0px 0px 0px 0px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-cc63100 */.elementor-126 .elementor-element.elementor-element-cc63100 .aux-nextto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.elementor-126 .elementor-element.elementor-element-cc63100 .aux-nextto .wpcf7-form-control-wrap{
    flex-basis: calc(50% - 10px);
}
.elementor-126 .elementor-element.elementor-element-cc63100 input[type="checkbox"]{
    background: transparent linear-gradient(180deg, rgba(145, 86, 247, 0.07) 0%, rgba(183, 136, 248, 0.07) 100%) !important;
    border-radius: 5px !important;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    margin-right: 20px;
    margin-bottom: 0!important;
}
.elementor-126 .elementor-element.elementor-element-cc63100 .wpcf7-checkbox label .wpcf7-list-item-label{
    color: #111F3D;
    font-size: 16px;
    font-weight: 400;
}
.elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]{
    position: absolute;
    right:0;
   
}
.elementor-126 .elementor-element.elementor-element-cc63100 input[type="checkbox"]:checked:after{
    content: "\e102";
    font-size: 18px;
    font-family: "auxin-front";
    line-height: 1;
    color: var(--e-global-color-text);
    position: absolute;
    left: 5px;
    top: 5px;
}
.elementor-126 .elementor-element.elementor-element-cc63100 .wpcf7-not-valid-tip{
    position: relative;
    top: -20px;
}
.elementor-126 .elementor-element.elementor-element-cc63100 .wpcf7-form .wpcf7-checkbox .wpcf7-list-item:first-of-type label{
    display: flex;
    align-items: center;
    top: 10px;
    position: relative;
    
}

@media screen and (max-width:767px){
    .elementor-126 .elementor-element.elementor-element-cc63100 .aux-nextto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .elementor-126 .elementor-element.elementor-element-cc63100 .aux-nextto .wpcf7-form-control-wrap{
        flex-basis: 100%;
    }
    .elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"]{
        position: relative;
        right:0;
        bottom: 0px !important;
    }
    .elementor-126 .elementor-element.elementor-element-cc63100 .wpcf7-checkbox label .wpcf7-list-item-label{
        font-size:14px;
    }
    
}
@media screen and (max-width:414px){
    .elementor-126 .elementor-element.elementor-element-cc63100 input[type="submit"] {
    width: 100%;
}}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42d43e3 */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-126 .elementor-element.elementor-element-42d43e3{
        width:100%;
        margin-top:0px;
    }
}/* End custom CSS */